<!--@book→book-->
<% book.book_comments.each do |comment| %>
<table class="table">
  <tr>
    <td>
      <%= image_tag comment.user.get_profile_image, size:"50x50" %></br>
      <%= comment.user.name %>
    </td>
    <td>
      <%= comment.comment %>
    </td>
    <td>
      <!--本人の場合のみ削除ボタンが表示されるよう設定-->
      <% if comment.user == current_user %>
      <!--パスに引数を指定して本とコメントの両方を特定する必要がある-->
        <%= link_to "Destroy", book_book_comment_path(comment.book, comment), method: :delete, class: "btn btn-danger", remote: true %>
      <% end %>
    </td>
  </tr>
</table>
<% end %>