<h2>User info</h2>
<%= render 'info', user: current_user %>

<h2 class="mt-3">New book</h2>
<!--異なるファイルの参照方法に書き換え-->
<%= render 'books/form', book: @book %>

<h2>Users</h2>
<%= render 'index',users: @users %>
