<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

      <h1>送信が完了しました</h1>
      <p>内容は以下の通りです</p>

      <h2>[タイトル]</h2>
      <p><%= @event.title %></p>

      <h2>[本文]</h2>
      <p><%= @event.contents %></p>

    </div>
  </div>
</div>