<h2><%= @group.name %>のメンバーの皆様</h2>

<p>
  グループへのご参加、いつもありがとうございます。<br>
  以下のイベントを開催しますので、どうぞご参加ください！
</p>

<p>イベント名：<%= @event.title %></p>
<p>イベント内容：<%= @event.contents %></p>

<p>
  皆様のご参加、心待ちにしております！
</p>
